body {
    background-color: #E2E2E2;
    color: #1C0F13;
    font-size: 20px;
}
div {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: strong;
    text-align: center;
}