body {
    background-color: #E2E2E2;
    color: #1C0F13;
    font-size: 20px;
}
div {
    background-color: #B7CECE;
    color: #1C0F13;
    font-size: 32px;
    font-weight: strong;
    text-align: center;
}

.subsection {
    background-color: pink;
}